de.uni_stuttgart.iaas.bpel.model.utilities/files/ziptest/participant2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap" xmlns:tns="http://www.iaas.uni-stuttgart.de" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="participant2" targetNamespace="http://www.iaas.uni-stuttgart.de">
  <vprop:property name="correlProperty" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:orderRequest" part="correlation" propertyName="tns:correlProperty"/>
  <vprop:propertyAlias messageType="tns:controlLinkMessage" part="correlation" propertyName="tns:correlProperty"/>
  <plnk:partnerLinkType name="participant1participant2PLT">
    <plnk:role name="participant1participant2Role" portType="tns:participant1participant2PT"/>
  </plnk:partnerLinkType>
  <vprop:propertyAlias messageType="tns:participant1participant2orderInfoSQMessage" part="correlation" propertyName="tns:correlProperty"/>
  <wsdl:message name="orderRequest">
    <wsdl:part name="acountNumber" type="xsd:string"/>
    <wsdl:part name="status" type="xsd:string"/>
    <wsdl:part name="orderTotalPrice" type="xsd:int"/>
    <wsdl:part name="numDeliveries" type="xsd:int"/>
    <wsdl:part name="correlation" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="controlLinkMessage">
    <wsdl:part name="status" type="xsd:boolean"/>
    <wsdl:part name="correlation" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="participant1participant2orderInfoSQMessage">
    <wsdl:part name="status" type="xsd:boolean"/>
    <wsdl:part name="data" type="xsd:any"/>
    <wsdl:part name="correlation" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="participant1participant2PT">
    <wsdl:operation name="ReceiveA2AssignBOperation">
      <wsdl:input message="tns:controlLinkMessage"/>
    </wsdl:operation>
    <wsdl:operation name="participant1participant2orderInfoReceiveA-CFUOP">
      <wsdl:input message="tns:participant1participant2orderInfoSQMessage" name="participant1participant2orderInfoReceiveA-CFUInput"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
